<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BPDOConnectionString" connectionString="Data Source=PASHASYE6\SQLEXPRESS;Initial Catalog=BPDO;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BPDOConnectionString" connectionString="Data Source=G6W4294.atlanta.hp.com,20481;Initial Catalog=RH_DATABASE_DEV;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BPDOConnectionString" connectionString="Data Source=g4w7425.houston.hp.com,20480;Initial Catalog=RH_DATABASE_DEV_APJ;User ID=RHSAAcct;password=RHapplication#1;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BPDOConnectionString" connectionString="Data Source=gvs61308.atlanta.hp.com,2048;Initial Catalog=RH_DATABASE_ITG;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BPDOConnectionString" connectionString="Data Source=gvs91304.houston.hp.com,2048;Initial Catalog=RH_DATABASE_PRO;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
  <!--<add name="BPDOConnectionString" connectionString="Data Source=g4w7425.houston.hp.com,20480;Initial Catalog=RH_DATABASE_DEV_APJ;User ID=RHSAAcct;password=RHapplication#1;Persist Security Info=true" providerName="System.Data.SqlClient"/>-->
    <!--APJ-RH Connection Strings-->
    <!--<add name="BPDOConnectionString" connectionString="Data Source=g4w7425.houston.hp.com,20480;Initial Catalog=RH_DATABASE_DEV_APJ;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <add name="BPDOConnectionString" connectionString="Data Source=gvs41568.houston.hp.com,2048;Initial Catalog=RH_DATABASE_ITG_APJ;User ID=rhsaacct;password=RHapplication#itg;Persist Security Info=true" providerName="System.Data.SqlClient"/>
    
    <!--<add name="NonComp" connectionString="Data Source=CRPF;User Id=rcbs_user;Password=hello" />-->
    <!--<add name="NonComp" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = pashasye3)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = bpdo)));User Id=rcbs_user;Password=hello"/>-->
    <!--<add name="MDF" connectionString="Data Source=CRPF2;User Id=seat_user;Password=hello"/>-->
    <!--<add name="folderpath" connectionString="C:\inetpub\wwwroot\RH\Comp\"/>-->
  </connectionStrings>
  <system.web>
    <!--<httpRuntime maxRequestLength="8192"/>-->
    <httpRuntime executionTimeout="43200" maxRequestLength="104856"  />
    <sessionState mode="InProc" cookieless="false" timeout="720"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>

    <authentication mode="Windows"/>
    

    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>-->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2000000000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=edge"/>
      </customHeaders>
    </httpProtocol>
<modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="b03f5f7f11d50a3a" culture=""/>
        <bindingRedirect oldVersion="0.0.0.0-4.18.0.0" newVersion="4.19.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>